<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - CPIS_358_Project</title>
	<!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/CPIS_358_Project.styles.css" asp-append-version="true" />
</head>

<body>
	<header>
		<nav>
			</button>
				<div class="logo">CyberSafe</div>
                 <ul class="nav-links">
                       <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                       <li><a asp-action="AwarenessTest" asp-controller="Home">Awareness Test</a></li>
                       <li><a asp-action="Resourecs" asp-controller="Home">Resources</a></li>
                       <li><a asp-action="PasswordChecker" asp-controller="Home">Password Checker</a></li>
                       <li><a asp-action="Login" asp-controller="Home" class="login-btn">Login</a></li>
                 </ul>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted mt-auto py-3">
		<div class="container">
			<div class="footer-content">
				<div class="col-md-4">
					<h5>CyberSafe</h5>
				</div>
				<div class="footer-links">
					<h5>Quick Links</h5>
					<ul>
						<li><a asp-controller="Home" asp-action="Index">Home</a></li>
						<li><a asp-controller="Home" asp-action="Assessment">Awareness Test</a></li>
						<li><a asp-controller="Home" asp-action="Resources">Resources</a></li>
						<li><a asp-controller="Home" asp-action="Password_Checker">Password Checker</a></li>
					</ul>
				</div>
				<div class="footer-contact">
					<h5>Contact</h5>
					<a asp-controller="Home" asp-action="ContactUs">Contact Us</a>
				</div>
			</div>
			<div class="text-center pt-3">
				&copy; 2025 CyberSafe. All rights reserved.
			</div>
		</div>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>
