<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CPIS_358_Project</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CPIS_358_Project.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
		<nav>
		  <div class="logo">CyberSafe</div>
		  <ul class="nav-links">
			<li><a asp-action="Index" asp-controller="Home">Home</a></li>
			<li><a href="assessment.html">Awareness Test</a></li>
			<li><a href="resources.html">Resources</a></li>
			<li><a href="password_checker.html">Password Checker</a></li>
			<li><a href="login.html" class="login-btn">Login</a></li>
			<li><a asp-action="UserProfile" asp-controller="Home">Profile</a></li>
		  </ul>
		</nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
		<div class="footer-content">
		  <div class="footer-logo">CyberSafe</div>
		  <div class="footer-links">
			<h3>Quick Links</h3>
			<ul>
			  <li><a href="index.html">Home</a></li>
			  <li><a href="assessment.html">Awareness Test</a></li>
			  <li><a href="resources.html">Resources</a></li>
			  <li><a href="password_checker.html">Password Checker</a></li>
			</ul>
		  </div>
		  <div class="footer-contact">
			<a href="../html/contact_us.html">Contact Us</a>
		  </div>
		</div>
		<div class="footer-bottom">
		  <p>&copy; 2025 CyberSafe. All rights reserved.</p>
		</div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
