<!DOCTYPE html>
<html>
    <head>
        <title>Forgot Password</title>
        <link type="text/css" rel="stylesheet" href="../css/mainstyle.css">
        <link type="text/css" rel="stylesheet" href="../css/style.css">
        <script src="../js/include_header_and_footer.js"></script>
    </head>
    <body>
        <div id="header"></div>
        <div class="login light_shadow">
            <form class="login rounded_corners">
                <input type="text" placeholder="Email or Username">
                <br>
                <button class="submit-login">Send Verification Code</button>
            </form>
        </div>
        <div id="footer"></div>
    </body>
</html>
