@model CPIS_358_Project.Models.LoginModelView
@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" type="text/css" href="~/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/css/mainstyle.css" />
</head>
<body class="login">
    <div class="login light_shadow">
        <form asp-action="Login" asp-controller="Account" method="post" class="login rounded_corners">
            @Html.AntiForgeryToken()

            <input asp-for="Username" type="text" placeholder="Username" />
            <span asp-validation-for="Username" class="text-danger"></span>

            <input asp-for="Password" type="password" placeholder="Password" />
            <span asp-validation-for="Password" class="text-danger"></span>

            <button class="submit-login">Login</button>
            <br />
            <a href="#">Forgot username or password?</a>
            <br />
            <a asp-action="Register" asp-controller="Account">Don't have an account?</a>
        </form>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>