<!DOCTYPE html>
<html>
    <head>
        <link href="../css/mainstyle.css" rel="stylesheet" type="text/css">
        <link href="../css/style.css" rel="stylesheet" type="text/css">
        <script src="../js/include_header_and_footer.js"></script>
    </head>
    <body>
        <div id="header"></div>
        <div class="login light_shadow">
            <form class="login sign_up rounded_corners">
                <input type="text" placeholder="Username">
                <input type="password" placeholder="Password">
                <input type="password" placeholder="Confirm Password">
                <label>I agree to <a href="https://secure.endless.horse">the terms and agreements</a>.</labbel>
                <input type="checkbox">
                <br>
                <br>
                <button class="submit-login">Sign up</button>
            </form>
        </div>
        <div id="footer"></div>
    </body>
</html>