<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
		<link rel="stylesheet" href="~/CPIS_358_Project.styles.css" asp-append-version="true" />
	</head>
	<body>
		<h1>User Information Page</h1>
	</body>
</html>