form.login {
    border: 1px solid black;
    position: absolute;
    right: 0;
    left: 0;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    width: 20%;
    background-color: #131117d0;
    color: white;
    border-radius: 15px;;
}
form.login input[type="submit"] {
    position: relative;
    margin-left: 25%;
    width: 40%;
}
form.login input[type="text"], form.login input[type="password"]  {
    position: relative;
    width: 100%;
    margin-bottom: 1em;
}

form.login a {
    position: relative;
    top: 8px;
    color: orange;
    text-align: center;
}
.header, .header a {
    width: 100%;
    height: 40px;
    background: #131117d0;
    font-size: 0px;
}
.header a {
    color: rgb(225, 231, 241);
    background-color: #f93e13;
    position: relative;
    display: inline-block;
    width: fit-content;
    height:initial;
    font-size: 18pt;
    border-right: 1px solid black;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 5px;
    margin-right: 10px;
    max-height: 100%;
    text-decoration: none;
    border-radius: 10px;
    text-shadow: 0px 0px 5px black;
}
.header a:hover {
    background: #cb300d;
}
.password_checker {
    border: 1px solid orange;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    background-color: #13111790;
    padding: 20px;
}

.password_checker .strength {
    
}
body {
    margin: 0px;
    background-color: #13111f;
    background-image: url("../images/wallpaper1.jpg");
    color: white;
}

