/* login page */
form.login {
    border: 1px solid black;
    position: relative;
    right: 0;
    left: 0;
    margin-top: 15%;
    margin-bottom: 15%;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    width: 20%;
    background-color: #ffffff;
    color: var(--dark-color);
    text-align: center;
    font-size: 10pt;
}
form button.submit-login {
    width: fit-content;
    background-color: var(--primary-color);
    color: white;
    padding: 6px 10px;
    font-size: 12px;
}
form.login input[type="text"], form.login input[type="password"]  {
    position: relative;
    width: 100%;
    margin-bottom: 1em;
}
form.login a {
    position: relative;
    top: 8px;
    color: var(--primary-color);
    text-align: center;
}
form.sign_up a{
    position: relative;
    margin: auto;
    top: 0px;
}

/* password checker page */
.password_checker {
    position: relative;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    width: 400px;
    background-color: var(--light-color);
    padding: 20px;
}
.password_checker * {
    font-size: 20pt;
}
.password_checker .strength {
    margin: 0px;
    margin-top: 10px;
    padding: 3px;
    display: block;
}
.password_checker input {
    width: 98%;
    border: 1pt solid black;
    text-align: center;
}
.password_recommendations {
    background-color: var(--light-color);
    width: fit-content;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    text-align: center;
}

.password_recommendations ul {
    list-style-type: circle;
    list-style-position: inside;
    text-align: left;
}

/* general styling */
.rounded_corners {
    border-radius: 5px;
}
.header, .header a {
    width: 100%;
    height: 40px;
    background: #131117d0;
    font-size: 0px;
}
body {
    margin: 0px;
    background-color: var(--light-gray);
    color: var(--dark-color);
}
body.login {
    background-repeat: no-repeat;
    background-size: 100%;
}
.light_shadow {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}
